@using Microsoft.AspNetCore.Components
@using OrderForm.Data
@using OrderForm.Pages
@using static OrderForm.Data.FormConfig.SectionConfig
@using static OrderForm.Data.FormConfig
@using static OrderForm.Data.FieldOptionStrings

<fieldset class=@Css_formSection style="display:block">
	@*<legend class="fs-2">@SectionIdentifiers.Item2 <button type="button" @onclick="() => Form.AddFormSection(SectionIdentifiers)">Add section</button></legend>*@
</fieldset>


